section.article-page.article-page-denis 
    .article-page__foot
    .content
        .article-page__img-block
            img(src="img/imgtxt.jpg")
            img(src="img/imgtxt.jpg")
            img(src="img/imgtxt.jpg")
        .article-page__txt-block
            article
                p <b>— Денис, расскажите как Вы решили заняться организацией праздников?</b>
                
                p «Летом 2013 года друг попросил меня помочь организовать свидание на крыше чтобы удивить свою девушку. Будучи в душе романтиком и авантюристом я с удовольствием согласился! В результате я получил огромное удовольствие и от процесса организации сюрприза и от результата. До сих пор вспоминаю эмоции друга: «У меня и у девушки эмоции были просто незабываемыми! Это реально круто!» 

                p <b>—— Что для Вас ваша работа?</b>
                
                p «Это не работа и не хобби – это дело всей моей жизни!»

                p <b>— Интересно, а как отдыхает организатор праздников? Часто ли удаётся спланировать свой отдых?</b>
                
                p «Зачастую это происходит спонтанно. Когда выдаётся свободная минутка с удовольствием хожу в кино, катаюсь на велосипеде в парке, люблю собраться с друзьями чтобы раскатать пару партий в русский бильярд»



                p <b>— Какой Ваш любимый фильм?</b>
                
                p «У меня их довольно-таки много: «Адвокат дьявола», «Игра», «7 жизней», «В погоне за счастьем», «Военный ныряльщик», и т.д. Я люблю кино которое заставляет взглянуть на свою жизнь под несколько иным углом, учит чему-то новому.»


                p <b>— Что нужно для того чтобы событие наверняка получилось?</b>
                
                p «Горячо любить свою работу»


                p <b>— Что больше всего запоминается в процессе подготовки мероприятия?</b>
                
                p «Больше всего западает в душу восторженные взгляды, широкие улыбки и слёзы радости на глазах влюблённых»


                p <b>— Какое событие у Вас самое любимое?</b>
                
                p «Больше всего люблю организовывать предложение руки и сердца и свадьбы. Это самые трогательные и яркие моменты в жизни каждого человека!»


                p <b>— Что пожелаете влюблённым?</b>
                
                p «Удивляйте просто так, ведь для счастья – повод не нужен!»




