section.dope-news
    .content
        h2 Другие новости
        .slider.lazy 
        
            .slide
                a.block-info
                    .block-info_border
                        .fade
                            .block-info_image(style="background:url(img/article.jpg)")
                            .inf
                                h4 Сюжет из программы "Жизнь в большом городе"
                                .date 15 Апреля, 2016
                                    
            .slide
                a.block-info
                    .block-info_border
                        .fade
                            .block-info_image(style="background:url(img/article.jpg)")
                            .inf
                                h4 Сюжет из программы "Жизнь в большом городе"
                                .date 15 Апреля, 2016
                                    
            .slide
                a.block-info
                    .block-info_border
                        .fade
                            .block-info_image(style="background:url(img/article.jpg)")
                            .inf
                                h4 Сюжет из программы "Жизнь в большом городе"
                                .date 15 Апреля, 2016
                                    
            .slide
                a.block-info
                    .block-info_border
                        .fade
                            .block-info_image(style="background:url(img/article.jpg)")
                            .inf
                                h4 Сюжет из программы "Жизнь в большом городе"
                                .date 15 Апреля, 2016
        button(type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;") Previous
        button(type="button" data-role="none" class="slick-next slick-arrow" aria-label="Previous" role="button" style="display: block;") Previous
        
                            