footer#f-c
    .content
        .one-linked-block
            .line
            ul
                li
                    a О Денисе Гришаеве
                li
                    a Благодарности
                li
                    a PR Служба
        .two-linked-block
            a.footer__logo-block
            
            .footer__menu-block.first
                ul
                
                    li
                        a Главная
                        
                    li
                        a Услуги
                        
                    li
                        a Портфолио
                        
                    li
                        a Истории Влюбленных
                    
            .footer__menu-block
                ul
                
                    li
                        a Главная
                        
                    li
                        a Услуги
                        
                    li
                        a Портфолио
                        
                    li
                        a Истории Влюбленных
                        
            .footer__info-block
                a.footer__info-block_adr Адрес: ул. Неглинная, 14, стр. 1а
                a.footer__info-block_cont Тел.: +7 (495) 790 2891
                a.footer__info-block_cont E-mail: dgrishaevru@gmail.com
                .social
                    a <i class="fa fa-vk" aria-hidden="true"></i>
                    a <i class="fa fa-instagram" aria-hidden="true"></i>
                    a <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    a <i class="fa fa-youtube" aria-hidden="true"></i>
                
       .three-linked-block
        .copy © 2013 - 2016  Агентство событий для влюбленных Дениса Гришаева
        .ogrn ОГРНИП: 314774621601246    ИП Гришаев Д.А.
    .f-v

                
       