section.about-block 
    .content
        h1
            div
                span Удивляйте любимых просто так, без повода,
            div    
                span ведь для счастья - повод не нужен!
                
        .about-block__block-photo
            .about-block__block-photo__elem-1
                a.about-block__block-photo_item
                    .ph-block
                a.about-block__block-photo_item
                    .ph-block
                a.about-block__block-photo_item
                    .ph-block
                a.about-block__block-photo_item
                    .ph-block
                a.about-block__block-photo_item
                    .ph-block
                a.about-block__block-photo_item
                    .ph-block
            .about-block__block-photo__elem-2
                .middle
                    span.title Увидеть счастливую улыбку, поймать восторженный и благодарный взгляд, услышать заветные слова: 
                    span.comm Спасибо за Лучший<br> сюрприз в моей жизни 
                    span.title — это бесценно!
                    
            .about-block__block-photo__elem-3
                a.about-block__block-photo_item
                    .ph-block
                a.about-block__block-photo_item
                    .ph-block
                a.about-block__block-photo_item
                    .ph-block
                a.about-block__block-photo_item
                    .ph-block
                a.about-block__block-photo_item
                    .ph-block
                    