section.news-block
    .content
        .news-block__news-disp
        
            .news-block__news-disp__item
                h4
                    div
                        span Статьи
                        
                a.news-block__news-disp__item_news
                    .news-block__news-disp__item_news_date 22 Марта
                    .news-block__news-disp__item_news_desc Как сделать незабываемое предложение руки и сердца?
                                
                a.news-block__news-disp__item_news
                    .news-block__news-disp__item_news_date 19 Марта
                    .news-block__news-disp__item_news_desc Как за 30 минут подготовить<br> незабываемый романтический вечер для любимой
                                        
                a.news-block__news-disp__item_news
                    .news-block__news-disp__item_news_date 2 Марта
                    .news-block__news-disp__item_news_desc Первое свидание организованное Денисом Гришаевым.
                a.reed-more Все статьи
                
            .news-block__news-disp__item
                h4
                    div
                        span Новости
                        
                a.news-block__news-disp__item_news
                    .news-block__news-disp__item_news_date 22 Марта
                    .news-block__news-disp__item_news_desc Как сделать незабываемое предложение руки и сердца?
                                
                a.news-block__news-disp__item_news
                    .news-block__news-disp__item_news_date 19 Марта
                    .news-block__news-disp__item_news_desc Как за 30 минут подготовить незабываемый романтический вечер для любимой
                                        
                a.news-block__news-disp__item_news
                    .news-block__news-disp__item_news_date 2 Марта
                    .news-block__news-disp__item_news_desc Первое свидание организованное Денисом Гришаевым.
                        
            .news-block__news-disp__item
                h4
                    div
                        span Благодарности
                .news-block__news-disp__item_news_slider
                    img(src="img/blag.png")
                    
                                                
                    a.arrow.prev
                        .phbg
                        .ico
                                       
                    a.arrow.next
                        .phbg
                        .ico
        
                        

        