section.slider-video-block
    .content
        h2
            div
                span Видео истории наших влюбленных
                
        .slider-video-block__wrapper
            .slider-video-block__wrapper__item1
                .display(style="background: url(img/v1.png);")
            .slider-video-block__wrapper__item1.active
                .display(style="background: url(img/v1.png);")
                    .title Рыцарское Предложение руки и сердца.<br> CGM-EVENT
                    a.play
            .slider-video-block__wrapper__item1
                .display(style="background: url(img/v1.png);")
                                
    a.arrow.prev
        .phbg
        .ico
                                       
    a.arrow.next
        .phbg
        .ico
                