section.article-home-block.post-home-block(style="background:url(img/article-post.jpg)")
    .content
        h1 Новая площадка для<br> свиданий на крыше
    .block-lenta
        img(src="img/lenta.png")