section.sayavka#contacts(style="background:url(img/raketa.png)")
    .content
        .sayavka__form-block
            .middle
                article
                    h2 Контакты
                    p Звоните и пишите нам круглосуточно и 7 дней в неделю!
                    a <i class="phone"></i> +7 (495) 790 28 91
                    a <i class="mail"></i> dgrishaevru@gmail.com
                form.sayavka__form-block__dis
                    a.mol-ico
                    .title 
                    .txt Оставьте заявку и мы вам перезвоним<br> в течении 60 секунд!
                    .inp-txt
                        input(placeholder="Ваше Имя")
                    .inp-txt
                        input(placeholder="+7 (___) ____ ____")
                    input.send(type="submit" value="Позвонить мне!")