section.slider-content-portfolio
    .content
    
        .slider-content-services__slider
            .slider-content-services__slider_slide
                .image(style="background:url(img/chika.jpg)")
                .txt(style="background:url(img/bl1.jpg)")
                    .title Рыцарское предложение 
                    p 4 июня, Сергей и Наташа приехали на базу вертолётов Хелипорт. Чтобы Наташа ни о чем не догадалась, мы разыграли формат "расширенной экскурсии", поэтому она не удивилась увидев видеооператора в кабине вертолёта.
                    p Удивление и восторг охватили наших влюбленных когда вертолет взмыл вверх, казалось, что ничего прекраснее в этот день уже не будет, но не тут-то было... 
                                           
    a.arrow.next
        .phbg
        .ico
                