section.slider-content-services.slider-denis 
    .content
        h2
            div
                span «Проживай эмоции влюблённых<br> словно свои!»
        .slider-content-services__slider
            .slider-content-services__slider_slide(style="background:url(img/slide1.jpg)")
                                    
    a.arrow.prev
        .phbg
        .ico
                                       
    a.arrow.next
        .phbg
        .ico
                