section.slider-book
    .content
        
        div#canvas
            div#book-zoom
                div.sample-dock
                    div.tabs(ignore="1")
                        div.left
                        div.right
                div.hard
                div.hard
                div.hard.p29
                div.hard.p30
                
        div.turnjs-slider#slider-bar
            div#slider
