section.slider-content-services
    .slider-content-services__foot
    .content
        h2 Каким может быть ваше предложение?
        .slider-content-services__slider
            .slider-content-services__slider_slide
                .image(style="background:url(img/s-bg1.jpg)")
                .txt(style="background:url(img/bl1.jpg)")
                    .title Свидание
                    p Вы только вдвоём, в уютной романтической атмосфере, в окружении свечей, лепестков роз и шикарных композиций из цветов, наслаждаетесь прохладным шампанским и свежими ягодами и фруктами, играет живая музыка, а вы, любуетесь шикарной панорамой на вечернюю Москву…
                    a Подробнее...
    .slider-content-services__nav
            a.active Свидание
            a Публичное предложение 
            a Романтический квест
            a Розыгрыш
                                    
    a.arrow.prev
        .phbg
        .ico
                                       
    a.arrow.next
        .phbg
        .ico
                