doctype html
html(lang="ru")
    head
        include include/head.jade
    body
        header
            .content
                .logo-block
                    .middle
                        a.logo
                .nav-block
                    .middle
                        nav
                            a(href="#") Услуги
                            a(href="#") Портфолио
                            a(href="#") Истории наших влюбленных
                            a(href="#") Статьи
                            a(href="#") Новости
                            a(href="#") Контакты
                .phone-block
                    .middle
                        a.button 
                            .phbg
                            span Заказать звонок
                        a.phone +7(495)7902981
        include include/article-home-block.jade
        
        section.art-block
            .content
                .article-block
                
                    .article-block__one
                        .fade
                            .article-block__one__image
                            .article-block__one__txt
                                .title Как сделать незабываемое предложение руки и сердца?
                                .date 3 Мая, 2016
                                p Добрый день! На связи Денис Гришаев! Меня часто спрашивают: "Как можно эффектно сделать предложение руки и сердца?" Сейчас я с тобой поделюсь одним из способов как это можно оригинально сделать:
                                p В магазине подарков купи 3 небольшие коробочки разных цветов (коричневую, золотую и серебряную)…
                                
                    .article-block__one
                        .fade
                            .article-block__one__image
                            .article-block__one__txt
                                .title Как сделать незабываемое предложение руки и сердца?
                                .date 3 Мая, 2016
                                p Добрый день! На связи Денис Гришаев! Меня часто спрашивают: "Как можно эффектно сделать предложение руки и сердца?" Сейчас я с тобой поделюсь одним из способов как это можно оригинально сделать:
                                p В магазине подарков купи 3 небольшие коробочки разных цветов (коричневую, золотую и серебряную)…
                                
                    .article-block__one
                        .fade
                            .article-block__one__image
                            .article-block__one__txt
                                .title Как сделать незабываемое предложение руки и сердца?
                                .date 3 Мая, 2016
                                p Добрый день! На связи Денис Гришаев! Меня часто спрашивают: "Как можно эффектно сделать предложение руки и сердца?" Сейчас я с тобой поделюсь одним из способов как это можно оригинально сделать:
                                p В магазине подарков купи 3 небольшие коробочки разных цветов (коричневую, золотую и серебряную)…
                                
                    .article-block__one
                        .fade
                            .article-block__one__image
                            .article-block__one__txt
                                .title Как сделать незабываемое предложение руки и сердца?
                                .date 3 Мая, 2016
                                p Добрый день! На связи Денис Гришаев! Меня часто спрашивают: "Как можно эффектно сделать предложение руки и сердца?" Сейчас я с тобой поделюсь одним из способов как это можно оригинально сделать:
                                p В магазине подарков купи 3 небольшие коробочки разных цветов (коричневую, золотую и серебряную)…
                    .paginator
                    
                        a.prevs

                        a <span>1</span>
                        a <span>2</span>
                        a <span>3</span>
                        a <span>4</span>
                        a.dot <span>...</span>
                        a <span>23</span>
                        
                        a.nexts
                
            
        include include/sayavka.jade
        include include/footer.jade
            
                            
                            
                            
                            
                            