doctype html
html(lang="ru")
    head
        include include/head.jade
    body
        .fade
        header
            .content
                .logo-block
                    .middle
                        a.logo
                .nav-block
                    .middle
                        nav
                            a(href="#") Услуги
                            a(href="#") Портфолио
                            a(href="#") Истории наших влюбленных
                            a(href="#") Статьи
                            a(href="#") Новости
                            a(href="#") Контакты
                .phone-block
                    .middle
                        a.button 
                            .phbg
                            span Заказать звонок
                        a.phone +7(495)7902981
        include include/c-home-block.jade


        
        
            
        include include/sayavka2.jade
        include include/footer-c.jade

            
                            
                       