doctype html
html(lang="ru")
    head
        include include/head.jade
    body
        header
            .content
                .logo-block
                    .middle
                        a.logo
                .nav-block
                    .middle
                        nav
                            a(href="#") Услуги
                            a(href="#") Портфолио
                            a(href="#") Истории наших влюбленных
                            a(href="#") Статьи
                            a(href="#") Новости
                            a(href="#") Контакты
                .phone-block
                    .middle
                        a.button 
                            .phbg
                            span Заказать звонок
                        a.phone +7(495)7902981
        include include/portfolio-home-block.jade
        include include/slider-content-portfolio.jade
        include include/slider-content-portfolio.jade
        include include/slider-content-portfolio.jade
        .paginator
                    
            a.prevs

            a <span>1</span>
            a <span>2</span>
            a <span>3</span>
            a <span>4</span>
            a.dot <span>...</span>
            a <span>23</span>
                        
            a.nexts
                

        
        
            
        include include/sayavka.jade
        include include/footer.jade
            
                            
                       